@page
@model FileManager.Pages.Directory.DocumentTypeModel
@using FileManager.Models.Database.ReportingYearDocumentTitles;
@{
    ViewData["Title"] = "DocumentType";
}

<div class="row">
    @foreach (DocumentTitle documentTitle in Model.DocumentsTitles)
    {
        <div class="col-sm-1 mx-3">
            <a asp-page="/Directory/Document"
               asp-route-departmentId="@Model.selectedDepartmentId"
               asp-route-yearId="@Model.selectedReportingYearId"
               asp-route-documentTypeId="@Model.selectedDocumentTypeId"
               asp-route-documentTitleId="@documentTitle.Id">

                @documentTitle.Name

            </a>
        </div>
    }
</div>

