@page
@model FileManager.Pages.Directory.DocumentModel
@{
    ViewData["Title"] = "Document";
}

<h2>Document @Model.DocumentsTitle.Name</h2>

<form class="form-group" method="post" asp-page-handler="SaveFile"
      asp-route-departmentId="@Model.selectedDepartmentId"
      asp-route-yearId="@Model.selectedReportingYearId"
      asp-route-documentTypeId="@Model.selectedDocumentTypeId"
      asp-route-documentTitleId="@Model.selectedDocumentTitleId"
      enctype="multipart/form-data">
    <label for="fileInput">Загрузить документ</label>
    <input id="fileInput" name="uploadedFile" class="custom-file-input" type="file" />
    <input type="submit" class="btn btn-success" value="Загрузить" />
</form>

