@page
@model FileManager.Pages.Directory.DocumentModel
@using FileManager.Models.Database.DepartmentsDocuments;
@using FileManager.Models.Database.DocumentStatuses;


<div class="document-description-section">
    <h2>Документ: @Model.DocumentsTitle.Name</h2>
    <p>
        Описание: @Model.DocumentsTitle.Description
    </p>
</div>

<div>
    @if (Model.DocumentStatusHistories.LastOrDefault() != null)
    {
        <div id="currentStatusSection" class="alert text-center">
            <h4 class="alert-heading">
                Статус <span id="status">@Model.DocumentStatusHistories.LastOrDefault().DocumentStatus.Status</span> Дата статуса: @Model.DocumentStatusHistories.LastOrDefault().SettingDateTime
            </h4>
            @if (@Model.DocumentStatusHistories.LastOrDefault().CommentEdits != null)
            {
                <p>
                    Комментарий @Model.DocumentStatusHistories.LastOrDefault().User.Email (@Model.DocumentStatusHistories.LastOrDefault().User.FistName @Model.DocumentStatusHistories.LastOrDefault().User.LastName): @Model.DocumentStatusHistories.LastOrDefault().CommentEdits
                </p>
            }
            else
            {
                <p>
                    Комментарий: проверяющий не оставил комментарий
                </p>
            }
        </div>
    }
    else
    {
        <div id="currentStatusSection" class="alert">
            <h4 class="alert-heading">
                Cтатус еще не установлен
            </h4>
        </div>
    }
</div>
<div>
    <div class="document-status-section">

        <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#allStatuses" aria-expanded="false" aria-controls="allStatuses">
            Показать все статусы
        </button>
        <div>
            <form method="post" asp-page-handler="GetSummaryOfUploadedFilesAndChecks"
                  asp-route-departmentsDocumentId="@Model.departmentsDocument.Id">
                <button class="btn btn-primary w-100">Скачать сводку загрузок и проверок</button>
            </form>
        </div>
    </div>
    <div class="collapse" id="allStatuses">
        <ul class="list-group">
            @foreach (DocumentStatusHistory status in Model.DocumentStatusHistories)
            {
                <li class="list-group-item">Статус: @status.DocumentStatus.Status , дата статуса: @status.SettingDateTime, установил @Model.DocumentStatusHistories.LastOrDefault().User.Email (@Model.DocumentStatusHistories.LastOrDefault().User.FistName @Model.DocumentStatusHistories.LastOrDefault().User.LastName)</li>
            }
        </ul>
    </div>
</div>

@if (Model.IsUserTheChecker)
{
    <div class="mt-4 mb-4 card">
        <div class="card-body">

            <h4 class="card-title">Установление нового статуса</h4>
            <form class="set-status-section" method="post" asp-page-handler="SetDocumentStatus"
                  asp-route-departmentId="@Model.selectedDepartmentId"
                  asp-route-departmentDocumentId="@Model.departmentsDocument.Id"
                  asp-route-yearId="@Model.selectedReportingYearId"
                  asp-route-documentTypeId="@Model.selectedDocumentTypeId"
                  asp-route-documentTitleId="@Model.selectedDocumentTitleId"
                  asp-route-userId="@Model.user.Id">
                <select class="form-control" name="newStatusId" asp-for="@Model.NewDocumentStatus">
                    <option disabled>Выберите статус</option>
                    @foreach (DocumentStatus status in Model.AllAvailabledocumentStatuses)
                    {
                        <option value="@status.Id">@status.Status</option>
                    }
                </select>
                <textarea class="form-control" name="comment" placeholder="Комментарий к статусу документа"></textarea>
                <button class="btn btn-primary">Установить статус</button>
            </form>

        </div>
    </div>

}



<form class="form-group mb-3" method="post" asp-page-handler="SaveFile"
      asp-route-departmentId="@Model.selectedDepartmentId"
      asp-route-yearId="@Model.selectedReportingYearId"
      asp-route-documentTypeId="@Model.selectedDocumentTypeId"
      asp-route-documentTitleId="@Model.selectedDocumentTitleId"
      asp-route-departmentDocumentId="@Model.departmentsDocument.Id"
      asp-route-userId="@Model.user.Id"
      enctype="multipart/form-data">
    <div class="input-group mb-3">
        <div class="custom-file">
            <input type="file"
                   oninput="setLabelValueForInputFile(this,`inputGroupFile`,`selectedFile`)"
                   accept=".doc,.docx,.xml,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                   required name="uploadedFile" class="custom-file-input" id="inputGroupFile">
            <label class="custom-file-label" id="selectedFile" for="inputGroupFile">Выберите файл</label>
        </div>
    </div>

    <input type="submit" class="btn btn-success form-control" value="Загрузить" />
</form>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Дата и время загрузки файла
                </th>
                <th>
                    Имя файла
                </th>
                <th>
                    Загрузил
                </th>
                <th>
                    Скачать файл
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (DepartmentsDocumentsVersion document in Model.UploadedDocuments)
            {
                <tr>
                    <td>
                        @document.UploadedDateTime
                    </td>
                    <td>
                        @document.FileName
                    </td>
                    <td>
                        @document.User.Email (@document.User.FistName  @document.User.LastName)
                    </td>
                    <td>
                        <a class="btn btn-primary" asp-page-handler="DownloadDocument" asp-route-departmentsDocumentsVersionId="@document.Id">
                            Скачать
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script defer src="~/js/InputFileLabelService/InputFileLabelService.js"></script>
    <script src="@Url.Content("~/js/EditLastBreadcrumbAndAddStyling.js")"></script>
    <script>
        let status = document.getElementById("status").textContent;
        let statusSection = document.getElementById("currentStatusSection");
        if (status == "Принято") {
            statusSection.classList.add("alert-success")
        } else if (status == "Нуждается в доработке") {
            statusSection.classList.add("alert-warning")
        } else {
            statusSection.classList.add("alert-dark")
        }
    </script>
}
