@page
@model FileManager.Pages.Directory.DocumentModel
@using FileManager.Models.Database.DepartmentsDocuments;
@using FileManager.Models.Database.DocumentStatus;
@{
    ViewData["Title"] = "Document";
}
@section Scripts{
    <script defer src="~/js/InputFileLabelService/InputFileLabelService.js"></script>
}

<h2>Document @Model.DocumentsTitle.Name</h2>
<div>
    @if (Model.DocumentStatusHistories.LastOrDefault() != null)
    {
        <p>
            Статус @Model.DocumentStatusHistories.LastOrDefault().DocumentStatus.Status Дата статуса: @Model.DocumentStatusHistories.LastOrDefault().SettingDateTime
        </p>
        @if (@Model.DocumentStatusHistories.LastOrDefault().CommentEdits != null)
        {
<p>
    Комментарий @Model.DocumentStatusHistories.LastOrDefault().User.Email (@Model.DocumentStatusHistories.LastOrDefault().User.FistName @Model.DocumentStatusHistories.LastOrDefault().User.LastName): @Model.DocumentStatusHistories.LastOrDefault().CommentEdits
</p>
        }
        else
        {
            <p>
                Комментарий: проверяющий не оставил комментарий
            </p>
        }
    }
    else
    {
        <p>
            Cтатус еще не установлен
        </p>
    }
</div>
<div>
    <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#allStatuses" aria-expanded="false" aria-controls="allStatuses">
        Показать все статусы
    </button>
    <div class="collapse" id="allStatuses">
        <ul class="list-group">
            @foreach (DocumentStatusHistory status in Model.DocumentStatusHistories)
            {
            <li class="list-group-item">Статус: @status.DocumentStatus.Status , дата статуса: @status.SettingDateTime, установил @Model.DocumentStatusHistories.LastOrDefault().User.Email (@Model.DocumentStatusHistories.LastOrDefault().User.FistName @Model.DocumentStatusHistories.LastOrDefault().User.LastName)</li>
            }
        </ul>
    </div>
</div>
<div>
    <form method="post" asp-page-handler="GetSummaryOfUploadedFilesAndChecks"
          asp-route-departmentsDocumentId="@Model.departmentsDocument.Id">
        <p>Скачать сводку загрузок и проверок</p>
        <button class="btn btn-primary">Скачать</button>
    </form>
</div>
@if (Model.IsUserTheChecker)
{
    <div>
        <form method="post" asp-page-handler="SetDocumentStatus"
              asp-route-departmentId="@Model.selectedDepartmentId"
              asp-route-departmentDocumentId="@Model.departmentsDocument.Id"
              asp-route-yearId="@Model.selectedReportingYearId"
              asp-route-documentTypeId="@Model.selectedDocumentTypeId"
              asp-route-documentTitleId="@Model.selectedDocumentTitleId"
              asp-route-userId="@Model.User.Id">
            <p>Установление нового статуса</p>
            <select name="newStatusId" asp-for="@Model.NewDocumentStatus">
                <option disabled>Выберите статус</option>
                @foreach (DocumentStatus status in Model.AllAvailabledocumentStatuses)
                {
                    <option value="@status.Id">@status.Status</option>
                }
            </select>
            <textarea name="comment"></textarea>
            <button class="btn btn-light">Установить статус</button>
        </form>

    </div>

}
<div class="form-group">
    <label for="description">Описание документа</label>
    <textarea class="form-control" name="description" id="description" rows="10" cols="150">@Model.DocumentsTitle.Description</textarea>
</div>

<form class="form-group mb-3" method="post" asp-page-handler="SaveFile"
      asp-route-departmentId="@Model.selectedDepartmentId"
      asp-route-yearId="@Model.selectedReportingYearId"
      asp-route-documentTypeId="@Model.selectedDocumentTypeId"
      asp-route-documentTitleId="@Model.selectedDocumentTitleId"
      asp-route-departmentDocumentId="@Model.departmentsDocument.Id"
       asp-route-userId="@Model.User.Id"
      enctype="multipart/form-data">
    <div class="input-group mb-3">
        <div class="custom-file">
            <input type="file"
                   oninput="setLabelValueForInputFile(this,`inputGroupFile`,`selectedFile`)"
                   accept=".doc,.docx,.xml,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                   required name="uploadedFile" class="custom-file-input" id="inputGroupFile">
            <label class="custom-file-label" id="selectedFile" for="inputGroupFile">Выберите файл</label>
        </div>
    </div>

    <input type="submit" class="btn btn-success form-control" value="Загрузить" />
</form>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Дата и время загрузки файла
                </th>
                <th>
                    Имя файла
                </th>
                <th>
                    Загрузил
                </th>
                <th>
                    Скачать файл
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (DepartmentsDocumentsVersion document in Model.UploadedDocuments)
            {
            <tr>
                <td>
                    @document.UploadedDateTime
                </td>
                <td>
                    @document.FileName
                </td>
                <td>
                    @document.User.Email (@document.User.FistName  @document.User.LastName)
                </td>
                <td>
                    <a class="btn btn-info" asp-page-handler="DownloadDocument" asp-route-departmentsDocumentsVersionId="@document.Id">
                        Скачать
                    </a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

