@page
@model FileManager.Pages.Directory.DocumentTypeModel
@using FileManager.Models.Database.ReportingYearDocumentTitles;

<div class="grid-autofill-items-100px">
    @foreach (DocumentTitle documentTitle in Model.DocumentsTitles)
    {
        <div>
            <a asp-page="/Directory/Document"
               asp-route-departmentId="@Model.selectedDepartmentId"
               asp-route-yearId="@Model.selectedReportingYearId"
               asp-route-documentTypeId="@Model.selectedDocumentTypeId"
               asp-route-documentTitleId="@documentTitle.Id">
                <img class="icon-size-100px" src="~/images/wordIcon.svg" />
                <p class="word-break-all">
                    @documentTitle.Name
                </p>

            </a>
        </div>
    }
</div>
@section Scripts
{
    <script src="@Url.Content("~/js/EditLastBreadcrumbAndAddStyling.js")"></script>
}