@page
@model FileManager.Pages.Account.Departments.EditUserDepartmentsModel
@using FileManager.Models;
@{
    ViewData["Title"] = "Edit";
}


<h2>Изменение принадлежности пользователя к кафедрам @Model.ChangeRoleViewModel.UserEmail</h2>

<form method="post">
    <input type="hidden" name="userId" value="@Model.ChangeRoleViewModel.UserId" />
    <div class="form-group">
        @foreach (Role role in Model.ChangeRoleViewModel.AllRoles)
        {
            <input type="checkbox" name="roles" value="@role.Name"
                   @(Model.ChangeRoleViewModel.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") />@role.Name <br />
            }
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>

